<article id="report">
  <div class="page with-chrome">
    <header>
      <nav class="navbar">
        <div class="container">
          <div class="actions">
            <ul>
              <li>
                <a id="pdf-link">
                  <div class="download-icon"></div>
                </a>
              </li>
            </ul>
          </div>
          <h1>Inspection Report</h1>
        </div>
      </nav>
    </header>

    <div class="report-wrapper">
      <div class="main">
        <section id="title-page">
          <div class="report-title-box">
            <img class="right-float" src="https://decor.io/_site/fb-page-103189343049298/_files/Blue%20logo.jpg" style="float:right; width:8em; height:13em; margin-left:1em;">
            <h1>Condition of Premises Report</h1>
            <h3>Condition reports are used as evidence in bond disputes.</h3>
            <div class="report-details clearfix">
              <div class="asset-details">
                <ul>
                  <li class="unit">P</li>
                  <li class="building">Sherman</li>
                  <li class="floor-plan">2 Bed 1 Bath</li>
                  <li class="address">42 Wallaby Way, Canberra ACT</li>
                 </ul>
              </div>
              <div class="inspector-details">
                <p>
                  <span class="title-text">Inspected:</span>
                  <span>July 2, 2015 12:19 PM</span>
                </p>
                <p>
                  <span class="title-text">Report Created:</span>
                  <span> July 6, 2015 9:27 AM</span>
                </p>
                <p></p>
              </div>
            </div>
          </div>
        </section>
        <section>
          <h4>In a tenancy, a condition report is used to determine:</h4>
          <p>
            • If a landlord has provided the premises fit for habitation, reasonably clean, in a reasonable state of repair and reasonably secure (clause 54 of the Standard Residential Tenancy Terms in the ACT)
            <br>
            • If a tenant has returned the premises in substantially the same cleanliness and condition as when they moved in, fair wear and tear excepted (clause 64 of the Standard Residential Tenancy Terms in the ACT)
          </p>

          <h4>Within 2 weeks of moving in:</h4>
          <p>
            1. Fill in this report carefully and sign it, OR
            If this report is already filled in, check it and make your own comments. Don’t sign it unless you agree with it.
            <br>
            2. Make a copy of this report and keep it somewhere safe.
            <br>
            3. Give one copy of this report to the other party.
            <br>
            4. Take date-stamped photos of any defects in the property.
          </p>
        </section>
        <section>
          <table>
            <colgroup>
              <col class="master">
              <col>
              <col>
            </colgroup>
            <thead>
              <tr>
                <th>Bond Number:</th>
                <th class="inspection-title">Bonds must be lodged with the Office of Rental Bonds in all tenancies, and can be lodged in all occupancies.</th>
                <th class="inspection-title"></th>
              </tr>
            </thead>
            <tbody>
              <tr class="item">
                <td></td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span>1034333</span>
                  </div>
                  <div class="notes"></div>
                </td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span></span>
                  </div>
                  <div class="notes"></div>
                </td>
              </tr>
            </tbody>
          </table>
          <table>
            <colgroup>
              <col class="master">
              <col>
              <col>
            </colgroup>
            <thead>
              <tr>
                <th>Entry</th>
                <th class="inspection-title">Move-In (July 20, 2015)</th>
                <th class="inspection-title"></th>
              </tr>
            </thead>
            <tbody>
              <tr class="item">
                <td>Door</td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span>Good</span>
                  </div>
                  <div class="notes"></div>
                </td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span></span>
                  </div>
                  <div class="notes"></div>
                </td>
              </tr>
              <tr class="item">
                <td>
                  Entry Door Hardware
                </td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span>Good</span>
                  </div>
                  <div class="notes"></div>
                </td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span></span>
                  </div>
                  <div class="notes"></div>
                </td>
              </tr>
              <tr class="item">
                <td>Entry Locks</td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span>Good</span>
                  </div>
                  <div class="notes"></div>
                </td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span></span>
                  </div>
                  <div class="notes"></div>
                </td>
              </tr>
              <tr class="item">
                <td>Entry Lights</td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span>Repair, Style: Mixed</span>
                  </div>
                  <div class="notes">Entry lights are not turning on.  Entry hardware comment Entry light comment Entry light comment Entry light comment This is an example of a snaptext comment.  This is an example of a snaptext comment.  This is an example of a snaptext comment.  This is an example of a snaptext comment.  This is an example of a snaptext comment.  This is an example of a snaptext comment.</div>
                </td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span></span>
                  </div>
                  <div class="notes"></div>
                </td>
              </tr>
            </tbody>
          </table>
          <table>
            <colgroup>
              <col class="master">
              <col>
              <col>
            </colgroup>
            <thead>
              <tr>
                <th>Water Meter Reading</th>
                <th class="inspection-title"></th>
                <th class="inspection-title"></th>
              </tr>
            </thead>
            <tbody>
              <tr class="item">
                <td>At Commencement (in kilolitres):</td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span>1000</span>
                  </div>
                  <div class="notes"></div>
                </td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span></span>
                  </div>
                  <div class="notes"></div>
                </td>
              </tr>
              <tr class="item">
                <td>At termination (in kilolitres):</td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span>1005</span>
                  </div>
                  <div class="notes"></div>
                </td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span></span>
                  </div>
                  <div class="notes"></div>
                </td>
              </tr>
              <tr class="item">
                <td>Total consumption (in kilolitres):</td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span>5</span>
                  </div>
                  <div class="notes"></div>
                </td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span></span>
                  </div>
                  <div class="notes"></div>
                </td>
              </tr>
            </tbody>
          </table>
          <table>
            <colgroup>
              <col class="master">
              <col>
              <col>
            </colgroup>
            <thead>
              <tr>
                <th>Gas Reading</th>
                <th class="inspection-title"></th>
                <th class="inspection-title"></th>
              </tr>
            </thead>
            <tbody>
              <tr class="item">
                <td>At Commencement:</td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span>10</span>
                  </div>
                  <div class="notes"></div>
                </td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span></span>
                  </div>
                  <div class="notes"></div>
                </td>
              </tr>
              <tr class="item">
                <td>At termination:</td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span>15</span>
                  </div>
                  <div class="notes"></div>
                </td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span></span>
                  </div>
                  <div class="notes"></div>
                </td>
              </tr>
              <tr class="item">
                <td>Total consumption:</td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span>5</span>
                  </div>
                  <div class="notes"></div>
                </td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span></span>
                  </div>
                  <div class="notes"></div>
                </td>
              </tr>
            </tbody>
          </table>
          <table>
            <colgroup>
              <col>
              <col>
            </colgroup>
            <thead>
              <tr>
                <th colspan="2">Summary</th>
              </tr>
            </thead>
            <tbody>
                <tr class="item">
                  <td>Landlord/Agent Comments</td>
                  <td>Tenant Comments</td>
                </tr>
            </tbody>
          </table>
        </section>
        <section>
          <table class="single-row signatures">
            <thead>
              <tr><th>Landlord/Agent Signature</th></tr>
            </thead>
              <tr>
                <td><figure class="signature">
                  <div class="signature-box">
                    <div class="signature-image">
                        <img src="files/FmQRjB-A-PR" style="margin-bottom:NaN%;">
                    </div>
                  </div>
                  <figcaption class="clearfix">
                      <span class="signature-name">John Smith</span>

                      <span class="signature-date">July 20, 2015 12:22 PM</span>
                  </figcaption>
                </figure>
                </td>
              </tr>
          </table>
          <table class="single-row signatures">
            <thead>
              <tr><th>Tenant Signature</th></tr>
            </thead>
              <tr>
                <td><figure class="signature">
                  <div class="signature-box">
                    <div class="signature-image">
                        <img src="files/FmQRjB-A-PR" style="margin-bottom:NaN%;">
                    </div>
                  </div>
                  <figcaption class="clearfix">
                      <span class="signature-name">Jane Williams</span>

                      <span class="signature-date">July 20, 2015 12:22 PM</span>
                  </figcaption>
                </figure>
                </td>
              </tr>
          </table>
        </section>

        <footer>
          <h4>www.tenantsact.org.au</h4>
        </footer>
      </div>
    </div>
  </div>
</article>