<!DOCTYPE html>
<html>
  <head>
    <link href="/css/vendor.css" rel="stylesheet">
  </head>

  <body>
    <article id="report">
      <div class="page with-chrome">
        <header>
          <nav class="navbar">
            <div class="container">
              <div class="actions">
                <ul>
                  <li>
                    <a id="pdf-link">
                      <div class="download-icon"></div>
                    </a>
                  </li>
                </ul>
              </div>
              <h1>Inspection Report</h1>
            </div>
          </nav>
        </header>


        <div class="report-wrapper">
          <div class="main">
            <section id="title-page">
              <div class="report-title-box">
                <h1>Periodic inspection</h1>
                <div class="report-details clearfix asset-details">
                  <ul>
                    <li class="unit">010</li>
                    <li class="building">Building 1</li>
                    <li class="floor-plan">2 Bed 1 Bath</li>
                    <li class="address">Oakland CA</li>
                  </ul>
                </div>

                <div class="inspector-details">
                  <p>
                    <span class="title-text">Inspected:</span>
                    <span>July 2, 2015 12:19 PM</span>
                  </p>
                  <p>
                    <span class="title-text">Report Created:</span>
                    <span> July 6, 2015 9:27 AM</span>
                  </p>
                  <p>
                  </p>
                </div>
              </div>
            </section>
            <section>
              <table>
                <colgroup>
                  <col class="master">
                  <col>
                </colgroup>
                <thead>
                  <tr>
                    <th colspan="2">Summary</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="item">
                    <td>General Comments</td>
                    <td class="notes cell-group-start"></td>
                  </tr>
                </tbody>
              </table>
            </section>
          </div>
        </div>
      </div>
    </article>

    <script src="/js/vendor.js" class="no-pdf"></script>
    <script src="/js/report.js" class="no-pdf" id="report-script"></script>
    <script type="text/javascript" class="no-pdf">
      var reportView = new ReportView({ chrome: true}, PDF.component() );
      reportView.render(report);
    </script>
  </body>
</html>