<article id="report">
  <div class="page with-chrome">
    <header>
      <nav class="navbar">
        <div class="container">
          <div class="actions">
            <ul>
              <li>
                <a id="pdf-link">
                  <div class="download-icon"></div>
                </a>
              </li>
            </ul>
          </div>
          <h1>Inspection Report</h1>
        </div>
      </nav>
    </header>

    <div class="report-wrapper">
      <div class="main">
        <section id="title-page">
          <div class="report-title-box">
            <img class="right-float" src="http://www.arama.com.au/sb_cache/communications/id/101/f/rtalogo3.gif" style="float:right;">
            <h3>Residential Tenancies and Rooming Accommodation Act 2008 (Section 65)</h3>
            <h1>Entry Condition Report – General Tenancies (Form 1a)</h1>
            <div class="report-details clearfix">
              <div class="asset-details">
                <ul>
                  <li class="unit">P</li>
                  <li class="building">Sherman</li>
                  <li class="floor-plan">2 Bed 1 Bath</li>
                  <li class="address">42 Wallaby Way, Brisbane QLD</li>
                 </ul>
              </div>
              <div class="inspector-details">
                <p>
                  <span class="title-text">Inspected:</span>
                  <span>July 2, 2015 12:19 PM</span>
                </p>
                <p>
                  <span class="title-text">Report Created:</span>
                  <span> July 6, 2015 9:27 AM</span>
                </p>
                <p></p>
              </div>
            </div>
          </div>
        </section>
        <section>
          <h4>Lessor/agent:</h4>
          <p>
            1. Inspect the premises.
            <br>
            2. Mark each item on the list clean, working, undamaged (where applicable).
            <br>
            3. Make a note of any extra items in the additional comments/information section.
            <br>
            4. Give a signed copy of the report to the tenant. Keep a copy for your own records.
            <br>
            5. Ask the tenant to add their comments to the report, initial each page and return it to you within 3 days.
            <br>
            6. If the tenant disagrees about the condition of the premises, encourage them to discuss
            it with you. Comments can be recorded in the additional comments/information section or by attaching a separate page.
            <br>
            7. Give a copy of the final report back to the tenant within 14 days of receiving it.
            <br>
            8. You must keep a copy of the report for at least one year after the tenancy agreement ends.
          </p>

          <h4>Tenant:</h4>
          <p>
            1. Inspect the premises.
            <br>
            2. Comment on any item where you disagree with the lessor/agent, or if you believe the report does not reflect the true condition of the premises.
            <br>
            3. Talk to the lessor/agent if you disagree about the condition of the premises.
            <br>
            4. Initial each page of the report and send it to the lessor/agent within 3 days.
            <br>
            5. The lessor/agent must send you a copy of the final report. You may also want to make a copy for your own records.
            <br>
            If the condition report is not given to the tenant/s within 3 days of occupation, the tenant/s should obtain, complete and sign their own form and submit to the lessor/agent.
          </p>

          <h4>Entry condition reports must be completed in accordance with the Act. Penalties apply. Do not send to the RTA—give this form to the tenant/s, keep a copy for your records.</h4>
        </section>
        <section>
          <table>
            <colgroup>
              <col class="master">
              <col>
              <col>
            </colgroup>
            <thead>
              <tr>
                <th>The tenant/s have initially received a copy of this report on:</th>
                <th class="inspection-title"></th>
                <th class="inspection-title"></th>
              </tr>
            </thead>
            <tbody>
              <tr class="item">
                <td>Day:</td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span>Monday</span>
                  </div>
                  <div class="notes"></div>
                </td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span></span>
                  </div>
                  <div class="notes"></div>
                </td>
              </tr>
              <tr class="item">
                <td>Date:</td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span>01/01/2015</span>
                  </div>
                  <div class="notes"></div>
                </td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span></span>
                  </div>
                  <div class="notes"></div>
                </td>
              </tr>
            </tbody>
          </table>
          <table>
            <colgroup>
              <col class="master">
              <col>
              <col>
            </colgroup>
            <thead>
              <tr>
                <th>Water charging</th>
                <th class="inspection-title">Tenants can only be charged for all water consumption if the rental premises are individually metered (or water is delivered by vehicle), the agreement states the tenant must pay for water and the premises are water efficient.</th>
                <th class="inspection-title"></th>
              </tr>
            </thead>
            <tbody>
              <tr class="item">
                <td>Are the premises individually metered?</td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span>Yes</span>
                  </div>
                  <div class="notes"></div>
                </td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span></span>
                  </div>
                  <div class="notes"></div>
                </td>
              </tr>
              <tr class="item">
                <td>Water meter reading at start of tenancy (in kilolitres):</td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span>1000</span>
                  </div>
                  <div class="notes"></div>
                </td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span></span>
                  </div>
                  <div class="notes"></div>
                </td>
              </tr>
              <tr class="item">
                <td>Are the premises water efficient?</td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span>Yes</span>
                  </div>
                  <div class="notes"></div>
                </td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span>Certain fixtures must have the equivalent of a 3 star WELS rating or higher (evidence available if/as required).</span>
                  </div>
                  <div class="notes"></div>
                </td>
              </tr>

            </tbody>
          </table>
          <table>
            <colgroup>
              <col class="master">
              <col>
              <col>
            </colgroup>
            <thead>
              <tr>
                <th>Entry</th>
                <th class="inspection-title">Move-In (July 20, 2015)</th>
                <th class="inspection-title"></th>
              </tr>
            </thead>
            <tbody>
              <tr class="item">
                <td>Door</td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span>Good</span>
                  </div>
                  <div class="notes"></div>
                </td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span></span>
                  </div>
                  <div class="notes"></div>
                </td>
              </tr>
              <tr class="item">
                <td>
                  Entry Door Hardware
                </td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span>Good</span>
                  </div>
                  <div class="notes"></div>
                </td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span></span>
                  </div>
                  <div class="notes"></div>
                </td>
              </tr>
              <tr class="item">
                <td>Entry Locks</td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span>Good</span>
                  </div>
                  <div class="notes"></div>
                </td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span></span>
                  </div>
                  <div class="notes"></div>
                </td>
              </tr>
              <tr class="item">
                <td>Entry Lights</td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span>Repair, Style: Mixed</span>
                  </div>
                  <div class="notes">Entry lights are not turning on.  Entry hardware comment Entry light comment Entry light comment Entry light comment This is an example of a snaptext comment.  This is an example of a snaptext comment.  This is an example of a snaptext comment.  This is an example of a snaptext comment.  This is an example of a snaptext comment.  This is an example of a snaptext comment.</div>
                </td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span></span>
                  </div>
                  <div class="notes"></div>
                </td>
              </tr>
            </tbody>
          </table>
          <table>
            <colgroup>
              <col>
              <col>
            </colgroup>
            <thead>
              <tr>
                <th colspan="2">Summary</th>
              </tr>
            </thead>
            <tbody>
                <tr class="item">
                  <td>Landlord/Agent Comments</td>
                  <td>Tenant Comments</td>
                </tr>
            </tbody>
          </table>
        </section>
        <section>
          <table class="single-row signatures">
            <thead>
              <tr><th>Landlord/Agent Signature</th></tr>
            </thead>
              <tr>
                <td><figure class="signature">
                  <div class="signature-box">
                    <div class="signature-image">
                        <img src="files/FmQRjB-A-PR" style="margin-bottom:NaN%;">
                    </div>
                  </div>
                  <figcaption class="clearfix">
                      <span class="signature-name">John Smith</span>

                      <span class="signature-date">July 20, 2015 12:22 PM</span>
                  </figcaption>
                </figure>
                </td>
              </tr>
          </table>
          <table class="single-row signatures">
            <thead>
              <tr><th>Tenant Signature</th></tr>
            </thead>
              <tr>
                <td><figure class="signature">
                  <div class="signature-box">
                    <div class="signature-image">
                        <img src="files/FmQRjB-A-PR" style="margin-bottom:NaN%;">
                    </div>
                  </div>
                  <figcaption class="clearfix">
                      <span class="signature-name">Jane Williams</span>

                      <span class="signature-date">July 20, 2015 12:22 PM</span>
                  </figcaption>
                </figure>
                </td>
              </tr>
          </table>
        </section>

        <footer>
          <h4>rta.qld.gov.au</h4>
        </footer>
      </div>
    </div>
  </div>
</article>