<article id="report">
  <div class="page with-chrome">
    <header>
      <nav class="navbar">
        <div class="container">
          <div class="actions">
            <ul>
              <li>
                <a id="pdf-link">
                  <div class="download-icon"></div>
                </a>
              </li>
            </ul>
          </div>
          <h1>Inspection Report</h1>
        </div>
      </nav>
    </header>

    <div class="report-wrapper">
      <div class="main">
        <section id="title-page">
          <div class="report-title-box">
            <img class="right-float" src="https://www.revolutionise.com.au/includes/template/13/images/vicgov.jpg" style="float:right; height:7em;">
            <img class="right-float" src="http://www.consumer.vic.gov.au/library/images/logos/cav_lrg.png?h=102&la=en&w=111&hash=A0E5799D8635D4B326F17A65CE25A5AF95DA488C" style="float:right; height:7em;">
            <h3>Residential Tenancies Act 1997</h3>
            <h1>Condition Report</h1>
            <div class="report-details clearfix">
              <div class="asset-details">
                <ul>
                  <li class="unit">P</li>
                  <li class="building">Sherman</li>
                  <li class="floor-plan">2 Bed 1 Bath</li>
                  <li class="address">42 Wallaby Way, Melbourne VIC</li>
                 </ul>
              </div>
              <div class="inspector-details">
                <p>
                  <span class="title-text">Inspected:</span>
                  <span>July 2, 2015 12:19 PM</span>
                </p>
                <p>
                  <span class="title-text">Report Created:</span>
                  <span> July 6, 2015 9:27 AM</span>
                </p>
                <p></p>
              </div>
            </div>
          </div>
        </section>
        <section>
          <h4>What the landlord/agent has to do:</h4>
          <p>
            Before the tenant moves into the premises the landlord/agent must:
            <br><br>
            1. Complete the landlord/agent section of this form.
            <br>
            2. Sign and date the form. You may wish to photocopy the form for your records before giving to the tenant.
            <br>
            3. Give the form to the tenant to complete. Inform the tenant they have three business days to complete, sign
            and return the landlord’s/agent’s copy of this report.
            <br>
            4. At the end of the tenancy, complete the exit report on the back of the landlord’s copy.
          </p>

          <h4>What the tenant has to do:</h4>
          <p>
            1. You must complete and sign this form and any attachments and return it to the landlord or agent within three business days of moving into the premises.If you fail to complete this report accurately you may have difficulty claiming your full bond back at the end of the tenancy.
            <br>
            2. Inspect the premises and complete the tenant section of this form. Make a comment where you disagree with the landlord’s/agent’s description of an item.
            <br>
            3. Sign and date the form.
            <br>
            4. Tear off the top copy and return it to the landlord or agent.
            <br>
            5. Keep the tenant’s copy as a record.
          </p>

          <h4>Important information for landlords and tenants:</h4>
          <p>
            • If a bond is taken, you must complete a Condition Report at the start of each tenancy. If a bond is not taken
            it is strongly recommended you still complete a Condition Report.
            <br>
            • This report is an important written record of the condition of the premises. Both the landlord or agent and
            the tenant should keep signed copies for future reference. It may be used as evidence in any dispute about
            cleaning, damage, safety or missing items. It is vital that you complete the report comprehensively and note
            anything which seems unsafe or insecurely fixed. For examples of unsafe situations, see the section on
            Condition Reports in Renting a home: a guide for tenants.
            <br>
            • If you do not have enough space to list all items you want covered in this report, attach a separate sheet.
            All attachments should be signed and dated by both the landlord or agent and the tenant to show that both
            parties have read and agree to any future reference.
            <br>
            • If you need advice on your rights and responsibilities, then ring the Consumer Affairs Helpline on 1300 55 81 81
            before completing and signing the Condition Report.
            <br>
            • Condition Reports are available free of charge from Consumer Affairs Victoria.
          </p>
        </section>
        <section>
          <table>
            <colgroup>
              <col class="master">
              <col>
              <col>
            </colgroup>
            <thead>
              <tr>
                <th>Entry</th>
                <th class="inspection-title">Move-In (July 20, 2015)</th>
                <th class="inspection-title"></th>
              </tr>
            </thead>
            <tbody>
              <tr class="item">
                <td>Door</td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span>Good</span>
                  </div>
                  <div class="notes"></div>
                </td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span></span>
                  </div>
                  <div class="notes"></div>
                </td>
              </tr>
              <tr class="item">
                <td>
                  Entry Door Hardware
                </td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span>Good</span>
                  </div>
                  <div class="notes"></div>
                </td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span></span>
                  </div>
                  <div class="notes"></div>
                </td>
              </tr>
              <tr class="item">
                <td>Entry Locks</td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span>Good</span>
                  </div>
                  <div class="notes"></div>
                </td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span></span>
                  </div>
                  <div class="notes"></div>
                </td>
              </tr>
              <tr class="item">
                <td>Entry Lights</td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span>Repair, Style: Mixed</span>
                  </div>
                  <div class="notes">Entry lights are not turning on.  Entry hardware comment Entry light comment Entry light comment Entry light comment This is an example of a snaptext comment.  This is an example of a snaptext comment.  This is an example of a snaptext comment.  This is an example of a snaptext comment.  This is an example of a snaptext comment.  This is an example of a snaptext comment.</div>
                </td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span></span>
                  </div>
                  <div class="notes"></div>
                </td>
              </tr>
            </tbody>
          </table>
          <table>
            <colgroup>
              <col>
              <col>
            </colgroup>
            <thead>
              <tr>
                <th colspan="2">Summary</th>
              </tr>
            </thead>
            <tbody>
                <tr class="item">
                  <td>Landlord/Agent Comments</td>
                  <td>Tenant Comments</td>
                </tr>
            </tbody>
          </table>
        </section>
        <section>
          <table class="single-row signatures">
            <thead>
              <tr><th>Landlord/Agent Signature</th></tr>
            </thead>
              <tr>
                <td><figure class="signature">
                  <div class="signature-box">
                    <div class="signature-image">
                        <img src="files/FmQRjB-A-PR" style="margin-bottom:NaN%;">
                    </div>
                  </div>
                  <figcaption class="clearfix">
                      <span class="signature-name">John Smith</span>

                      <span class="signature-date">July 20, 2015 12:22 PM</span>
                  </figcaption>
                </figure>
                </td>
              </tr>
          </table>
          <table class="single-row signatures">
            <thead>
              <tr><th>Tenant Signature</th></tr>
            </thead>
              <tr>
                <td><figure class="signature">
                  <div class="signature-box">
                    <div class="signature-image">
                        <img src="files/FmQRjB-A-PR" style="margin-bottom:NaN%;">
                    </div>
                  </div>
                  <figcaption class="clearfix">
                      <span class="signature-name">Jane Williams</span>

                      <span class="signature-date">July 20, 2015 12:22 PM</span>
                  </figcaption>
                </figure>
                </td>
              </tr>
          </table>
        </section>

        <footer>
          <h4>www.consumer.vic.gov.au</h4>
        </footer>
      </div>
    </div>
  </div>
</article>