<article id="report">
  <div class="page with-chrome">
    <header>
      <nav class="navbar">
        <div class="container">
          <div class="actions">
            <ul>
              <li>
                <a id="pdf-link">
                  <div class="download-icon"></div>
                </a>
              </li>
            </ul>
          </div>
          <h1>Inspection Report</h1>
        </div>
      </nav>
    </header>

    <div class="report-wrapper">
      <div class="main">
        <section id="title-page">
          <div class="report-title-box">
            <img class="right-float" src="http://www.eclv.com.au/images/WA-Department-Of-Commerce.jpg" style="float:right;">
            <h3>RESIDENTIAL TENANCIES ACT 1987 (WA) Section 27C(6)</h3>
            <h1>Property Condition Report</h1>
            <div class="report-details clearfix">
              <div class="asset-details">
                <ul>
                  <li class="unit">P</li>
                  <li class="building">Sherman</li>
                  <li class="floor-plan">2 Bed 1 Bath</li>
                  <li class="address">42 Wallaby Way, Perth, Western Australia</li>
                 </ul>
              </div>
              <div class="inspector-details">
                <p>
                  <span class="title-text">Inspected:</span>
                  <span>July 2, 2015 12:19 PM</span>
                </p>
                <p>
                  <span class="title-text">Report Created:</span>
                  <span> July 6, 2015 9:27 AM</span>
                </p>
                <p></p>
              </div>
            </div>
          </div>
        </section>
        <section>
          <h4>How to complete this form:</h4>
          <p>
            1. Before the tenancy begins, the lessor or the property manager should inspect the residential premises and record the condition of the premises by indicating whether the particular room item is clean, undamaged and working by placing “Y” (YES) or “N”(NO) in the appropriate column. Where necessary, comments should be included in the report.
            <br>
            2. Two copies of the report, which has been filled out and signed by the lessor or the property manager, must be given to the tenant within 7days of the tenant moving into the premises.
            <br>
            3. As soon as possible after the tenant receives the property condition report, the tenant should inspect the residential premises and complete the tenant section on both copies of the report. The tenant indicates agreement or disagreement with the condition indicated by the lessor or the property manager by placing “Y” (YES) or “N” (NO) in the appropriate column and by making any appropriate comments on the form.
            <br>
            4. The tenant must return one copy of the completed property condition report to the lessor or the property manager within 7 days after receiving it. The tenant should keep the second copy of the property condition report.
            <br>
            5. If photographs or video recordings are taken at the time the property inspection is carried out, it is recommended that all photographs or video recordings are signed and dated by all parties. NOTE: Photographs and/or video recordings are not a substitute for accurate written descriptions of the condition of the property.
            <br>
            6. As soon as practicable, and in any event within 14 days after the termination of the tenancy agreement, the lessor or the property manager should complete a property condition report, indicating the condition of the premises at the end of the tenancy. This should be done in the presence of the tenant, unless the tenant has been given a reasonable
            opportunity to be present and has not attended the inspection.
          </p>

          <h4>IMPORTANT NOTES ABOUT THIS PROPERTY CONDITION REPORT</h4>
          <p>
            1. This property condition report is an important record of the condition of the residential premises when the tenancy begins. It may be used as evidence of the state of repair or general condition of the premises at the commencement of the tenancy if there is a dispute, particularly about the return of the security bond money and any damage to the premises. It is important to complete the property condition report accurately.
            <br>
            2. A property condition report must be filled out whether or not a security bond is paid.
            <br>
            3. At the end of the tenancy the premises must be inspected and the condition of the premises at that time will be compared to that stated in the original property condition report.
            <br>
            4. A tenant is not responsible for fair wear and tear to the premises. Fair wear and tear is a general term for anything that occurs through ordinary use such as the carpet becoming worn in frequently used areas. Wilful and intentional damage, or damage caused by negligence, is not fair wear and tear.
            <br>
            5. If you do not have enough space on the report, attach a separate sheet. All attachments should be signed and dated by all of the parties to the residential tenancy agreement.
            <br>
            6. Information about the rights and responsibilities of lessors and tenants may be obtained by contacting the Department of Commerce on 1300 30 40 54 or visiting <a href="www.commerce.wa.gov.au/ConsumerProtection">www.commerce.wa.gov.au/ConsumerProtection</a>.
          </p>
          <p>
            For further information about tenancy rights, refer to the Residential Tenancies Act 1987 or contact the Department of Commerce on 1300 30 40 54 or <a href="www.commerce.wa.gov.au/ConsumerProtection">www.commerce.wa.gov.au/ConsumerProtection</a>. For Translating and Interpreting Services please telephone TIS on 13 14 50 and ask to speak to the Department of Commerce (1300 30 40 54) for assistance.
          </p>
        </section>
        <section>
          <table>
            <colgroup>
              <col class="master">
              <col>
              <col>
            </colgroup>
            <thead>
              <tr>
                <th>Entry</th>
                <th class="inspection-title">Move-In (July 20, 2015)</th>
                <th class="inspection-title"></th>
              </tr>
            </thead>
            <tbody>
              <tr class="item">
                <td>Door</td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span>Good</span>
                  </div>
                  <div class="notes"></div>
                </td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span></span>
                  </div>
                  <div class="notes"></div>
                </td>
              </tr>
              <tr class="item">
                <td>
                  Entry Door Hardware
                </td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span>Good</span>
                  </div>
                  <div class="notes"></div>
                </td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span></span>
                  </div>
                  <div class="notes"></div>
                </td>
              </tr>
              <tr class="item">
                <td>Entry Locks</td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span>Good</span>
                  </div>
                  <div class="notes"></div>
                </td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span></span>
                  </div>
                  <div class="notes"></div>
                </td>
              </tr>
              <tr class="item">
                <td>Entry Lights</td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span>Repair, Style: Mixed</span>
                  </div>
                  <div class="notes">Entry lights are not turning on.  Entry hardware comment Entry light comment Entry light comment Entry light comment This is an example of a snaptext comment.  This is an example of a snaptext comment.  This is an example of a snaptext comment.  This is an example of a snaptext comment.  This is an example of a snaptext comment.  This is an example of a snaptext comment.</div>
                </td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span></span>
                  </div>
                  <div class="notes"></div>
                </td>
              </tr>
            </tbody>
          </table>
          <table>
            <colgroup>
              <col class="master">
              <col>
              <col>
            </colgroup>
            <thead>
              <tr>
                <th>Approximate dates when work last done on residential premises</th>
                <th class="inspection-title"></th>
                <th class="inspection-title"></th>
              </tr>
            </thead>
            <tbody>
              <tr class="item">
                <td>Painting of premises (external)</td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span>01/01/2015</span>
                  </div>
                  <div class="notes"></div>
                </td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span></span>
                  </div>
                  <div class="notes"></div>
                </td>
              </tr>
              <tr class="item">
                <td>Painting of premises (internal)</td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span>01/01/2015</span>
                  </div>
                  <div class="notes"></div>
                </td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span></span>
                  </div>
                  <div class="notes"></div>
                </td>
              </tr>
              <tr class="item">
                <td>Floorcoverings laid</td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span>01/01/2015</span>
                  </div>
                  <div class="notes"></div>
                </td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span></span>
                  </div>
                  <div class="notes"></div>
                </td>
              </tr>
              <tr class="item">
                <td>Flooring professionally cleaned</td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span>01/01/2015</span>
                  </div>
                  <div class="notes"></div>
                </td>
                <td class="notes cell-group-start">
                  <div class="values">
                    <span></span>
                  </div>
                  <div class="notes"></div>
                </td>
              </tr>
            </tbody>
          </table>
          <table>
            <colgroup>
              <col>
              <col>
            </colgroup>
            <thead>
              <tr>
                <th colspan="2">Summary</th>
              </tr>
            </thead>
            <tbody>
                <tr class="item">
                  <td>Landlord/Agent Comments</td>
                  <td>Tenant Comments</td>
                </tr>
            </tbody>
          </table>
        </section>
        <section>
          <table class="single-row signatures">
            <thead>
              <tr><th>Landlord/Agent Signature</th></tr>
            </thead>
              <tr>
                <td><figure class="signature">
                  <div class="signature-box">
                    <div class="signature-image">
                        <img src="files/FmQRjB-A-PR" style="margin-bottom:NaN%;">
                    </div>
                  </div>
                  <figcaption class="clearfix">
                      <span class="signature-name">John Smith</span>

                      <span class="signature-date">July 20, 2015 12:22 PM</span>
                  </figcaption>
                </figure>
                </td>
              </tr>
          </table>
          <table class="single-row signatures">
            <thead>
              <tr><th>Tenant Signature</th></tr>
            </thead>
              <tr>
                <td><figure class="signature">
                  <div class="signature-box">
                    <div class="signature-image">
                        <img src="files/FmQRjB-A-PR" style="margin-bottom:NaN%;">
                    </div>
                  </div>
                  <figcaption class="clearfix">
                      <span class="signature-name">Jane Williams</span>

                      <span class="signature-date">July 20, 2015 12:22 PM</span>
                  </figcaption>
                </figure>
                </td>
              </tr>
          </table>
        </section>

        <footer>
          <h4>FORM 1 PROPERTY CONDITION REPORT</h4>
        </footer>
      </div>
    </div>
  </div>
</article>